# Build output
**/bin/
**/obj/

# Visual Studio cache & user-specific
.vs/
*.user
*.suo

# Logs
*.log

# Config files
secrets.json
appsettings.*.json

# Frontend libraries
wwwroot/lib/
wwwroot/dist/

# Optional temporary files
launchSettings.json

# OS files
.DS_Store
Thumbs.db
